.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

.user__input {
  width: 500px;
  padding: 10px;
  margin: 10px;
  color: #990011ff;
  border: 3px solid #990011ff;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bold;
}
