.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title__container {
  width: 62%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 40px;
}

.title {
  border-bottom: 3px solid #990011ff;
  color: #fff;
  padding: 10px;
  font-size: 2.8em;
}

.nav__ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.nav__li {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 350px;
  color: #fff;
  background-color: #fff;
  padding: 5px;
  color: #101820ff;
  font-size: 1.4em;
  font-weight: bold;
  border: 3px solid #990011ff;
  border-radius: 15px;
  margin: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
}

.nav__li:hover {
  background-color: #990011ff;
  color: #fff;
}

.image__post {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  box-shadow: 3px 3px 6px #111;
}

.posts__title {
  border-bottom: 4px solid #990011ff;
  padding-bottom: 10px;
  font-size: 1.8em;
  position: absolute;
  left: 30px;
  top: 35%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts__description {
  width: 80%;
  position: absolute;
  left: 30px;
  top: 60%;
  font-size: 1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modify__icon {
  position: absolute;
  top: 45%;
  right: 10px;
  font-size: 1.2em;
  color: #111;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.modify__icon:hover {
  color: white;
  border-radius: 100px;
}

.main__noscroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(5px);
  transition: all 0.3s linear;
}

.open__post {
  width: 40%;
  min-width: 300px;
  min-height: 600px;
  border: 3px solid #990011ff;
  border-radius: 15px;
  box-shadow: 1px 1px 6px #111;
  background-color: #fff;
  color: #111;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  cursor: auto;
  padding-bottom: 30px;
}

.close__btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 1.4em;
  font-weight: bold;
  color: #990011ff;
  cursor: pointer;
}

.open__post img {
  width: 75%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #111;
  margin: 0 auto;
}

.post__title {
  border-bottom: 3px solid #990011ff;
  font-size: 1.8em;
  font-weight: bolder;
  color: #990011ff;
  margin: 0 auto;
  padding: 80px 0 20px 0;
  word-break: break-all;
}

.post__description {
  padding: 10px 30px 80px 30px;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .nav__li {
    width: 85%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1208px) {
  .nav__li {
    width: 40%;
  }
}
