.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.title__container {
  width: 62%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 20px;
}

.title {
  color: #101820ff;
  padding: 20px;
  font-size: 2.5em;
}

.nav__ul {
  list-style-type: none;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav__li {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 200px;
  color: #fff;
  background-color: #fff;
  padding: 10px;
  color: #101820ff;
  font-size: 1.4em;
  font-weight: bold;
  border: 3px solid #990011ff;
  border-radius: 15px;
  margin: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
}

.nav__li:hover {
  background-color: #990011ff;
}

.post {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 30px;
}

.image__post {
  width: 20%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  padding-right: 10px;
}

.modify__icon {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  padding: 30px;
}

.modify__icon:hover {
  color: white;
  border-radius: 100px;
}

.main__noscroll {
  height: 100vh;
  overflow: hidden;
}

.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(5px);
  transition: all 0.3s linear;
}

.open__post {
  width: 500px;
  height: 500px;
  border: 3px solid #990011ff;
  border-radius: 15px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.close__btn {
  position: fixed;
  right: 0;
  top: 0;
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 1.4em;
  font-weight: bold;
  color: #990011ff;
  cursor: pointer;
}

.open__post img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px #111;
}
