body {
  font-family: "Lato", sans-serif;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #990011ff;
  height: 150px;
}

.logo {
  width: 300px;
  object-fit: cover;
  padding: 10px;
  margin-left: 50px;
}

.nav_link {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.links {
  padding: 10px;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: #fcf6f5ff;
  font-size: 1.6em;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.link:hover {
  background-color: #fff;
  padding: 10px;
  color: #101820ff;
  border-radius: 15px;
}
