.delete_btn {
  position: absolute;
  right: 10px;
  bottom: -8px;
  margin: 10px;
  border: none;
  background-color: transparent;
  font-size: 0.9em;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.delete_btn:hover {
  color: white;
  border-radius: 100px;
}
